
@{
    ViewBag.Title = "PropertyDetails";
}

@model UrbanNest.Models.PropertyDetailsViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Property Details</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
</head>
<body>
    <div class="property-details">
        <h1>@Model.Property.Title</h1>
        <img src="@Url.Content("~/Property_up_Images/" + Model.Property.Image_01)" alt="Property Image" />
        <p><strong>Location:</strong> @Model.Property.Location</p>
        <p><strong>Price:</strong> @Model.Property.Price</p>
        <p><strong>Area:</strong> @Model.Property.Area</p>
        <p><strong>Bed:</strong> @Model.Property.Bed</p>
        <p><strong>Bath:</strong> @Model.Property.Bath</p>
        <p><strong>Type:</strong> @Model.Property.type</p>
        <p><strong>Status:</strong> @Model.Property.status</p>

        <h2>Seller Details</h2>
        <p><strong>Name:</strong> @Model.Seller.Name</p>
        <p><strong>Email:</strong> @Model.Seller.Email</p>
        <p><strong>Phone:</strong> @Model.Seller.Phone</p>
        
    </div>
</body>
</html>

