@model UrbanNest.Models.Signup

@{
    ViewBag.Title = "Signup";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            max-width: 850px;
        }

        .form-section {
            background-color: white;
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

            .form-section h2 {
                font-size: 2rem;
                font-weight: bold;
                color: #004d40;
            }

            .form-section .btn-primary {
                background-color: #0a3d62;
                border: none;
            }

                .form-section .btn-primary:hover {
                    background-color: #031c33;
                }

        .social-login {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }

        .divider1 {
            height: 300px;
            width: 1px;
            background-color: #6c757d;
            margin: 40px 7px;
        }

        .divider2 {
            height: 300px;
            width: 1px;
            background-color: #6c757d;
            margin: 10px 7px;
        }

        .or {
            position: relative;
            background-color: white;
            font-weight: bold;
            padding: 30px 0;
        }

        .social-login-buttons {
            text-align: center;
            margin-top: -700px;
            margin-left: 20px;
        }

        .social-login .btn-block {
            width: 80%;
            position: relative;
        }

            .social-login .btn-block .btn-icon {
                max-height: 30px;
                margin-right: 10px;
            }

        .row {
            margin-top: 80px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form-section">
                    <h2 class="text-center">Sign up</h2>
                    <p class="text-center">Already have an account? <a href="@Url.Action("Login", "Home")">Sign in</a></p>
                    @using (Html.BeginForm("Signup", "Home", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(m => m.FirstName)
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "Enter Full Name" })
                            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.LastName)
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Enter Username" })
                            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Enter Email-address" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Phone)
                            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", placeholder = "Enter Phone info" })
                            @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Address)
                            @Html.TextBoxFor(m => m.Address, new { @class = "form-control", placeholder = "Enter Residential Address" })
                            @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Enter Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword)
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm password" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
                    }
                </div>
            </div>
            <div class="col-md-6">
                <div class="divider1"></div>
                <span class="or">or</span>
                <div class="divider2"></div>
                <div class="social-login">
                    <div class="social-login-buttons">
                        <div class="btn-group btn-block">
                            <button type="button" class="btn btn-outline-dark">
                                <img src="~/Content/search.png" alt="Google Icon" class="btn-icon d-inline-block align-middle">
                                CONTINUE WITH GOOGLE
                            </button>
                        </div>
                        <div class="btn-group btn-block mt-3">
                            <button type="button" class="btn btn-outline-dark">
                                <img src="~/Content/facebook.png" alt="Facebook Icon" class="btn-icon d-inline-block align-middle">
                                CONTINUE WITH FACEBOOK
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
</body>
</html>
